
.login-container {
display: flex;
flex-direction: column;
align-items: center;
}

.user-input-container {
    display: flex;
    flex-direction: column;
     row-gap: 20px;


}
.login-input{
    width: 50%;
}
.login-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}